@import "mixins";

@include font("PoiretOne", normal, 400, "../fonts/PoiretOne-Regular.ttf");
@include font("Karla", normal, 700, "../fonts/Karla-Bold.ttf");
@include font("Karla", normal, 500, "../fonts/Karla-Medium.ttf");
@include font("Karla", normal, 400, "../fonts/Karla-Regular.ttf");

@import "color";
@import "overlay";
@import "field";
@import "favorites";
@import "header";

$accent: #000000; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: $base-color; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$font: "PoiretOne", sans-serif; // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

/*Remove Chrome autocomplete style*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  border: none;
}

/*hide arrow input type number*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input,
textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
}

ul,
ol {
  //padding-left: 0;
  margin: 0;
}

body {
  font-family: $font;
  font-weight: 400;
  font-size: $fontsize;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  color: $textcolor;
  background-color: linear-gradient(0deg, #121217, #121217);
}
.page-title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
%extend-color {
  --colorBase: #6f6f6f;
  --colorBg: #ffffff;
  --colorSecondary: #616161;
  --colorCheck: #dce4e1;

  &.bg-dark {
    --colorBase: #ffffff;
    --colorBg: #616161;
    --colorSecondary: rgba(255, 255, 255, 0.6);
    --colorCheck: rgba(255, 255, 255, 0.35);
  }
}

.container {
  @include container;
}

.container-fluid {
  display: block;
  margin: 0 auto;
  padding: 0 50px;

  max-width: 1920px;
  min-width: 320px;

  @include mmax(767) {
    padding: 0 15px;
  }
}
