@import 'color.scss';
@import 'overlay.scss';
@import 'field.scss';


.currensy-list {
    padding-left: 0;

    &__item {
        display: flex;
        align-items: center;
        text-align: left;
        cursor: pointer;
        list-style-type: none;
        transition: all 0.3s;

        &:hover {
            color: orange
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__flag {
        margin-right: 15px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 47px;
            height: 47px;
            object-fit: cover;
        }
    }
}

;